@import '../settings/colors';
@import '../settings/dimensions';

.main-container {
  padding: $page-padding 0;

  .column { display: inline-block; vertical-align: top; }
  .column + .column { margin-left: $page-padding; }
  .aside-primary { width: 23%; }
  .main-content { width: 50%; }
}
